Flask==3.0.3
flask-socketio==5.3.6
python-socketio==5.11.1
python-engineio==4.9.0
openai>=1.40.0
flask-login
numpy
psutil
pytest
redis
requests
socketio
websocket
websockets
werkzeug
numpy
webrtcvad
beautifulsoup4
flask-wtf
flask-compress
python-Levenshtein
nltk
scipy
pydub
jiwer
factory-boy
faker
flask-migrate
pytest-cov
pytest-mock
bandit[toml]
pytest-asyncio
pytest-flask
pytest-html
pytest-playwright
safety
alembic
flask-limiter
detect-secrets
pre-commit
sentry-sdk[flask]