{% extends "base.html" %}{% block body %}
<div class="grid cols-3">
  <div class="card"><div class="hd">To do</div><div class="list"><div class="item">Prep Q3 report <span class="pill">Due Fri</span></div><div class="item">Collect pricing feedback</div></div></div>
  <div class="card"><div class="hd">Doing</div><div class="list"><div class="item">Tune summarizer prompts <span class="pill">In progress</span></div></div></div>
  <div class="card"><div class="hd">Done</div><div class="list"><div class="item">Export page polish <span class="pill">Done</span></div></div></div>
</div>
{% endblock %}