{#
  htmx Wrapper Template
  
  This template conditionally wraps content based on whether 
  the request is from htmx or a direct page load.
  
  Usage in your templates:
    {% extends "_htmx_wrapper.html" %}
    {% block main_content %}
      <!-- Your page content here -->
    {% endblock %}
#}

{% if not is_htmx %}
{% extends "base.html" %}
{% block content %}
<div id="main-content" tabindex="-1">
{% block main_content %}{% endblock %}
</div>
{% endblock %}
{% else %}
<div id="main-content" tabindex="-1">
{% block main_content %}{% endblock %}
</div>
{% endif %}
