{#
  htmx Wrapper Template
  
  This template conditionally extends base.html based on whether 
  the request is from htmx or a direct page load.
  
  Usage in your templates:
    {% extends "_htmx_wrapper.html" %}
    {% block page_content %}
      <!-- Your page content here -->
    {% endblock %}
#}

{% if is_htmx %}
{# htmx request: Return just the content #}
{% block page_content %}{% endblock %}
{% else %}
{# Regular request: Return full page with base template #}
{% extends "base.html" %}

{% block content %}
<div id="main-content" tabindex="-1">
{% block page_content %}{% endblock %}
</div>
{% endblock %}
{% endif %}
